/* StyleApp.css */
/* Variabel CSS Global (Custom Properties) */
:root {
  --app-primary: #007bff;
  --app-primary-hover: #0056b3;
  --app-accent: #00bcd4;
  --app-secondary-accent: #6f42c1;
  --app-white: #ffffff;
  --app-black: #1a1a1a;
  --app-gray-dark: #343a40;
  --app-gray: #6c757d;
  --app-gray-light: #e9ecef;
  --app-hover-bg: #e0f7fa;
  --app-active-bg: #007bff;
  --app-transition: 0.3s ease-in-out;
  --app-light: #f8f9fa;
  --app-danger: #dc3545;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

/* StyleFooter.css */

/* Footer container */
.sigcata-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    var(--app-primary-hover),
    var(--app-accent),
    var(--app-secondary-accent)
  );
  color: var(--app-white);
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3);
  padding: 0.875rem 0rem;
  margin-top: auto;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  position: fixed;
  bottom: 0;
}

/* Teks copyright di footer */
.sigcata-footer .footer-text {
  font-size: 12px;
  font-weight: 400;
  color: var(--app-white);
  text-decoration: none;
  transition: color var(--app-transition), transform var(--app-transition);
  display: inline-block;
  letter-spacing: 0.75px;
  text-align: center;
  width: 100%;
}

/* Efek hover pada teks copyright */
.sigcata-footer .footer-text:hover {
  color: var(--app-secondary-accent);
  transform: translateY(-0.85px) scale(1.015);
  -webkit-transform: translateY(-0.85px) scale(1.015);
  -moz-transform: translateY(-0.85px) scale(1.015);
  -ms-transform: translateY(-0.85px) scale(1.015);
  -o-transform: translateY(-0.85px) scale(1.015);
}

/* Media query untuk responsivitas pada Mobile */
@media (max-width: 768px) {
  .sigcata-footer {
    padding: 0.75rem 1rem;
    min-height: 50px;
  }
  .sigcata-footer .footer-text {
    font-size: 13px;
    text-align: center;
  }
}
